[bumpversion]
current_version = 2.1.5
commit = True
tag = True

[bumpversion:file:REVISION]

[bumpversion:file:src/fastkde/version.py]
search = version = "{current_version}"
replace = version = "{new_version}"
