name: Run tests

on:
  push:
  schedule:
    - cron: '5 4 * * MON' # This will run the workflow every Monday at 4:05AM UTC

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
        arch: [auto64]

        include:
          - os: windows-latest
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest ruff
        pip install -e .

    - name: Run linting tests on files in src
      run: ruff check src

    - name: Run tests
      run: pytest

  # test old versions of numpy; this follows advice in
  # https://numpy.org/doc/stable/dev/depending_on_numpy.html#depending-on-numpy
  old_numpy_test:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]
        python-version: ['3.9', '3.10', '3.11', '3.12']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build wheel via wheel, then install it
      run: |
        python -m pip install build
        python -m build  # This will pull in numpy 2.0 in an isolated env
        # install the wheel in a platform-agnostic way
        python -c "import glob, subprocess; subprocess.check_call(['python', '-m', 'pip', 'install', glob.glob('dist/*.whl')[0]])"

    - name: Test against oldest supported numpy version
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install numpy==1.26.4
        # now run test suite
        pip install -r requirements.txt
        pip install pytest ruff
        pip install -e .
        pytest